body{
    background-color: #737373;
}
#logo{
    position: relative;
    margin: 50px auto;
    width: 300px;
    height: 300px;
    border: 5px solid;
    border-radius: 50%;
    overflow: hidden;    
}

#logo::before{
    position: absolute;
    display: block;
    content: "";
    width: 60%;
    height: 60%;
    background-color: #f1f1f1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    z-index: 4;
}

.red{
    width: 78%;
    height: 42%;
    position: absolute;
    background-color: #f44336;
    transform: rotateZ(-40deg);
}

.yellow{
    width: 40%;
    height: 40%;
    position: absolute;
    z-index: 3;
    background-color: #ffc107;
    left: -15%;
    bottom: 32%;
    margin: auto;
    transform: rotateZ(-48deg);
}

